$myBlue: #007bff;
$myBackground: #202023;
$myGreen: #00ff00;

@mixin labelBox {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 20px;
  background-color: $myBackground;
  padding-right: 15px;
  width: 100%;
  box-shadow: 3px 3px 5px 3px #ccc;
}

@mixin secTitle {
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.contain {
  max-width: 1280px;
  margin: 0 auto;
}

#wrap {
  margin: auto;
  background-color: #202023;
  width: 100%;
  padding-bottom: 18px;
}

// NAV & HEADER STYLES

.navbar {
  background-color: #202023;
  overflow: hidden;
}

.header-label {
  margin: 15% 1%;
  width: 50vw;
  max-width: 500px;
}

#logo-nav {
  width: 35vw;
  max-width: 180px;
  background-color: #202023;
}

.img-header {
  position: center;
  background-color: #202023;

  img {
  }
}

.head-text {
  position: absolute;
  background: transparent;
  color: white;
  margin: 200px 1.5%;
  padding-bottom: 150%;
  max-height: 5vh;
  width: 400px;
}

.head-4 {
  color: #00ff00;
  font-size: 30px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
}
.head-p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}
// INTRO BOX

#design-intro {
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;

  @include secTitle();
  .project-box {
    background-color: #dcdcdc;
    box-shadow: 3px 3px 5px rgb(119, 119, 119);
  }

  h2 {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }

  label {
    @include labelBox();
  }
  .card {
    margin-top: 40px;
  }
}

// .intro-box {
//     border: 1px dotted rgb(102, 102, 102);
//     img {
//         height: auto;
//         width: auto;
//     }
// }

// SKILLS SECTION
.logo-box {
  background-color: #dcdcdc;
  box-shadow: 3px 3px 5px #ccc;

  label {
    @include labelBox();
  }

  .logos {
    max-width: 960px;
    margin: auto;
    display: center;
  }
}

#experience-section {
  @include secTitle();
  background-color: rgb(241, 241, 241);
  margin-top: 50px;
  padding-top: 25px;

  .exp-box {
    margin-top: 25px;
  }
  .exp-sep {
    background-color: white;
    margin: auto;
    margin-top: 15px;
    box-shadow: 3px 3px 5px #ccc;
  }
  img {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 50px;
  }
  h3 {
    margin-top: 30px;
  }
  p {
    margin: 15px auto;
    a {
      color: $myBlue;
      padding-top: 35px;
      margin: auto;
    }
  }
}
//   @media (max-width: 580px) {
//     .contain {
//       //min-height: 275px
//     }
//   }

#contact {
  legend {
    @include secTitle();
  }
  form {
    margin: 0 auto;
  }
  #message {
    height: 125px;
  }
  .material-icons,
  .icon-text {
    vertical-align: middle;
  }
  .icon-text-caps,
  .icon-text-tweaked {
    text-transform: uppercase;
  }
  .icon-text-tweaked {
    position: relative;
    top: 1px;
  }
  #errorMsg {
    margin-left: 20px;
    color: red;
  }
}

.icons {
  a {
    text-decoration: none;
    color: black;
    margin-left: 75px;
    display: inline-block;
    margin-top: 25px;
  }
}

footer {
  #footer-sec {
    background-color: $myBackground;
    padding-bottom: 100px;
  }
}
@media (max-width: 900px) {
  .head-text {
    text-align: center;
    margin: 8% 10%;
    width: 80%;
    padding: 2%;
  }
  #wrap {
    height: 435px;
  }
  .img-header {
    margin-top: 150px;

    img {
      display: none;
    }
  }
  #experience-section {
    img {
      width: 30%;
      margin-bottom: 20px;
    }
  }
  .icons {
    a {
      margin-left: 20px;
    }
    #last {
      margin-bottom: 25px;
    }
  }
}
